header 
{
    background-color: #4c6c99;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }

  nav li:last-child {
    margin-right: 0;
  }
  nav a {
    font-family: Herlvetica;
	font-size: 24px;
	color: #fff ;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
  }
  nav a:hover {
    color: #091e3a;
  }
.piePagina{
	width: 100%;
	height: auto;
}
.piePagina .redesImg{
    float: right;
	width: 40px;
    border-radius: 100px;
}
.principal{
	margin-top: 70px;
	margin-left: auto;
	width: 100%;
}
.principal h1{
	font-family: 'Bree Serif', serif;
	font-size: 36px;
	text-align: center;
	color: #4c6c99;
	text-shadow: 2px 3px 2px #EFEAF1;
	padding-top: 10px;
}
.principal p{
	font-family: 'Bree Serif', serif;
	font-size: 24px;
	text-align: center;
	color: #4c6c99;
	padding: 0px 100px;
}
.principal img{
	width: 25%;
	display: block;
	margin: 25px auto;
}
.acerca{
	margin-top: 50px;
	margin-left: 25px;
	margin-left: 25px;
	width: 100%;
}
.acerca h1{
    font-family: 'Bree Serif', serif;
	font-size: 36px;
	text-align: center;
	color: #4c6c99;
	text-shadow: 2px 3px 2px #EFEAF1;
	padding-top: 10px;
}
.acerca img
{
   float: right;
   width: 25%;
   position: static;
   margin-right: 20%;
   max-width: 100%;
}
.acerca p {
    font-family: 'Bree Serif', serif;
	font-size: 24px;
	text-align: justify;
	color: #4c6c99;
	padding: 0px 100px;
    display: inline-block;
    vertical-align: middle;
}
.acerca ul {

	font-family: 'Bree Serif', serif;
	font-size: 24px;
	text-align: justify;
	color: #4c6c99;
	padding: 0px 100px;
    display: inline-block;
    vertical-align: middle;
}
.acerca li {
	margin-bottom: 10px;
}
.acerca .union
{
	display: flex;
	align-items: center;
}
.acerca .union .uno
{
	flex: 1;
}
.acerca .union .dos
{
	flex: 1;
}
.acerca .union .dos img{
width: 65%;
height: auto;
}
.portafolio{
	margin-top: 80px;
	margin-left: auto;
	width: 100%;
}
.portafolio h1{
	font-family: 'Bree Serif', serif;
	font-size: 36px;
	text-align: center;
	color: #4c6c99;
	text-shadow: 2px 3px 2px #EFEAF1;
	padding-top: 10px;
}
.portafolio p{
	font-family: 'Bree Serif', serif;
	font-size: 24px;
	text-align: justify;
	color: #4c6c99;
	padding: 0px 100px;
}
.portafolio .union {
	
	display: flex;
	align-items: center;
}
.portafolio .union .uno
{
	width: 50%;
	float: left;
}
.portafolio .union .dos
{
	width: 50%;
	float: right;
}
.portafolio img{
	width: 50%;
	display: block;
	margin: 25px auto;
	background-color: #4c6c99;
}
.habilidades{
	margin-top: 80px;
	margin-left: auto;
	width: 100%;
}
.habilidades h1{
	font-family: 'Bree Serif', serif;
	font-size: 36px;
	text-align: center;
	color: #4c6c99;
	text-shadow: 2px 3px 2px #EFEAF1;
	padding-top: 10px;
}
.habilidades p{
	font-family: 'Bree Serif', serif;
	font-size: 24px;
	text-align: justify;
	color: #4c6c99;
	padding: 0px 100px;
}
.habilidades img{
	width: 30%;
	display: block;
	margin: 25px auto;
	background-color: #4c6c99;
}
.habilidades .union {
	display: flex;
	align-items: center;
}
.habilidades .union .uno
{
	width: 50%;
	float: left;
}
.habilidades .union .dos
{
	width: 50%;
	float: right;
}
.contacto{
	margin-top: 80px;
	margin-left: auto;
	width: 100%;
}
.contacto h1 {
    font-family: 'Bree Serif', serif;
	font-size: 36px;
	text-align: center;
	color: #4c6c99;
	text-shadow: 2px 3px 2px #EFEAF1;
	padding-top: 10px;
}
.contacto ul {
	font-family: 'Bree Serif', serif;
	font-size: 24px;
	text-align: justify;
	color: #4c6c99;
	padding: 0px 100px;
    vertical-align: middle;
}
.contacto li {
	margin-bottom: 10px;
}